<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="cat.css">
</head>
<body style="background: #525252;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #3d72b4, #525252);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #3d72b4, #525252); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
overflow-x: hidden">
<div class="">
<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top" style="opacity: 0.7;">
  <a class="navbar-brand" href="#" style="color: white;">
    Event Advertiser
  </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" >
        <li class="nav-item" >
          <a class="nav-link"  href=<%= idvarhome%> >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href=<%= idvarroute%>>Universities</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"  href="#">Events</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"  href=<%= idvarprofile%>>My Events</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"  href="/login"><%=logout%></a>
        </li>
      </ul>
    </div>
</nav>
<div class="row">
<div class="col-md-5">
<hr style="border-top:4px solid blue; margin-top: 13%;">
</div>
<div class="col-md-2">
<div class="text-center">
<h1 style="color:white; font-family: Verdana; margin-top: 26%;">Categories</h1>
</div>
</div>
<div class="col-md-5">
<hr style="border-top:4px solid blue;margin-top: 13%;">
</div>
</div>

<div class="card-deck">
<div class="card bg-transparent" style="border:none">


<div class="m-auto">
<a href=<%= idvarroute%>><img src="ball-baseball-baseball-bat-1614992.jpg" class=" rounded-circle"> </a>
</div>
<div class="m-auto">
<p style="font-size:200%;color: white;font-family: Verdana;">Sports</p>
</div>


</div>
<div class="card bg-transparent" style="border:none">


<div class="m-auto">
<a href=<%= idvarroute%>><img src="analogue-buttons-close-up-159438.jpg" class=" rounded-circle" ></a>
</div>
<div class="m-auto">
<p style="font-size:200%;color: white;font-family: Verdana;">Gaming</p>
</div>


</div>
</div>
<div class="card-deck mt-3">
<div class="card bg-transparent" style="border:none">


<div class="m-auto">
<a href=<%= idvarroute%>><img src="art-dark-design-326496.jpg" class="  rounded-circle" ></a>
</div>
<div class="m-auto">
<p style="font-size:200%;color: white; font-family: Verdana;" href="#">Technical</p>
</div>



</div>
<div class="card bg-transparent" style="border:none">


<div class="m-auto">
<a href=<%= idvarroute%>><img src="adventure-backpacker-blue-2450296.jpg" class="rounded-circle" ></a>
</div>
<div class="m-auto">
<p style="font-size:200%;color: white;font-family: Verdana;">Social</p>
</div>


</div>
</div>
<div class="card-deck mt-3">
<div class="card bg-transparent" style="border:none">


<div class="m-auto">
<a href=<%= idvarroute%>><img src="activity-art-art-class-730807.jpg" class=" rounded-circle "></a>
</div>
<div class="m-auto">
<p style="font-size:200%;color: white;font-family: Verdana;">Arts</p>
</div>


</div>
<div class="card bg-transparent" style="border:none">


<div class="m-auto">
<a href=<%= idvarroute%>><img src="bass-bowed-stringed-instrument-classic-258283.jpg" class=" rounded-circle" ></a>
</div>
<div class="m-auto">
<p style="font-size:200%;color: white;font-family: Verdana;">Dramatics/Musical</p>
</div>


</div>
</div>

</body>
</html>
