<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
  nav li a:hover
{
    border-bottom: 4px solid aqua;
    color: aqua!important;
}
.navbar-nav
{
   position: relative!important;
   left:60%!important;
   width: 90%!important;
}

nav li a
{
    color: white!important;
    display: inline-block!important;
    font-size: 2rem;
    font-family: Verdana;
    margin-right: 20%;
    width: 100%;
}

@media only screen and (max-width: 1600px)
{
    .navbar-nav
    {
        position: relative;
        left: 30%!important;
    }
    .col-md-5
    {
        margin-top: 6%;
    }
    h1
    {
        margin-top: 60%!important;
        margin-left: -20%!important;
    }

}
@media only screen and (max-width: 1800px)
{
    .navbar-nav
    {
        position: relative;
        left: 50%!important;
    }
    .col-md-5
    {
        margin-top: 6%;
    }
    h1
    {
        margin-top: 60%!important;
        margin-left: -20%!important;
    }

}
@media only screen and (max-width: 1300px)
{
    .navbar-nav
    {
        position: relative;
        left: 40%!important;
    }
    .col-md-5
    {
        margin-top: 6%;
    }
    h1
    {
        margin-top: 60%!important;
        margin-left: -20%!important;
    }
}

@media only screen and (max-width: 1100px)
{
    .navbar-nav
    {
        position: relative;
        left: 20%!important;
    }
    .col-md-5
    {
        margin-top: 6%;
    }
    h1
    {
        margin-top: 60%!important;
        margin-left: -20%!important;
    }
}

@media only screen and (max-width: 1400px)
{
    .navbar-nav
    {
        position: relative;
        left: 40%!important;
    }
    .col-md-5
    {
        margin-top: 6%;
    }
    h1
    {
        margin-top: 60%!important;
        margin-left: -20%!important;
    }


}

@media only screen and (max-width: 1100px)
{
    .navbar-nav
    {
        position: relative;
        left: 30%!important;
    }



}
</style>
</head>
<body style="background: #525252;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #3d72b4, #525252);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #3d72b4, #525252); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
overflow-x: hidden">
<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top" style="opacity: 0.7;">
  <a class="navbar-brand" href="#" style="color: white;">
    Event Advertiser
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" >
          <a class="nav-link"  href=<%= idvarhome%>>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="#">Universities</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"  href=<%= idvarcategories%>>Events</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"  href=<%= idvarprofile%>>My Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><%=logout%></a>
        </li>
      </ul>
    </div>
</nav>

<div class="row">
<div class="col-md-5">
<hr style="border-top:4px solid blue;margin-top: 13%;">
</div>
<div class="col-md-2">
<div class="text-center">
<h1 style="color:white; font-family: Verdana; margin-top: 26%;";>Universities</h1>
</div>
</div>
<div class="col-md-5">
<hr style="border-top:4px solid blue;margin-top: 13%;">
</div>
</div>

<div class="card-deck">
<div class="card bg-transparent" style="border:none">


<div class="m-auto">
<a href=<%= idvarroute%>><img src="Capital-University-of-Science-Technology-Islamabad.png" class="" ></a>
</div>
<div class="m-auto">
<p style="font-size:200%;color:white;font-family: Verdana;">C.U.S.T</p>
</div>


</div>
<div class="card bg-transparent" style="border:none">


<div class="m-auto">
<a href=<%= idvarroute%>><img src="FAST University Aggregate Calculator.png" class="" > </a>
</div>
<div class="m-auto">
<p style="font-size:200%;color:white;font-family: Verdana;">FAST</p>

</div>


</div>
</div>
<div class="card-deck mt-3">
<div class="card bg-transparent" style="border:none">


<div class="m-auto">

<a href=<%= idvarroute%>><img src="ims.png" class="" > </a>
</div>
<div class="m-auto">
<p style="font-size:200%;color:white;font-family: Verdana;">IMS</p>
</div>



</div>
<div class="card bg-transparent" style="border:none">


<div class="m-auto">

<a href=<%= idvarroute%>><img src="GIKIlogo.png" class="" > </a>
</div>
<div class="m-auto">
<p style="font-size:200%;color:white;font-family: Verdana;">GIKI</p>
</div>


</div>
</div>
<div class="card-deck mt-3">
<div class="card bg-transparent" style="border:none">


<div class="m-auto">
<a href=<%= idvarroute%>><img src="logo-retina nust.png" class=" "  > </a>
</div>
<div class="m-auto">
<p style="font-size:200%;color:white;font-family: Verdana;">NUST</p>
</div>


</div>

</div>

</body>
</html>
